/* Glass effect for the container */
.glass-container {
  background-color: #fdf4f4;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(0, 0%, 100%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(244.5, 69%, 89%) 0, transparent 55%);
}

a {
  text-decoration: none;
}

/* Glass effect and animations for AG Grid */
.ag-theme-quartz {
  background: rgba(255, 255, 255, 0.2); /* Increased transparency */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.ag-theme-quartz:hover {
  background: rgba(255, 255, 255, 0.3); /* Increased transparency */
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

/* Table Header Styling */
.ag-header-cell-sortable .ag-header-cell-label {
  color: black !important;
  font-size: 11px !important;
  font-weight: 700 !important;
  display: flex !important;
}

.ag-header-container {
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ) !important; /* Increased transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s ease;
}

/* Table Cell Styling */
.ag-cell-label-container {
  padding: 0px !important;
}

.ag-ltr .ag-cell {
  font-size: 10px !important;
  font-weight: 600 !important;
  text-align: center !important;
  display: flex;
  align-items: center;
  transition: background 0.3s ease, color 0.3s ease;
}

.ag-row:hover .ag-ltr .ag-cell {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ) !important; /* Increased transparency */
  color: #000 !important;
}

/* Row Styling */
.ag-row-even {
  background-color: rgba(244, 247, 252, 0.5) !important;
}

.ag-row-odd {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ag-header-group-cell {
  width: 30% !important;
  height: 25px !important;
  display: flex;
  justify-content: center;
  border-bottom: none !important;
}

.ag-theme-alpine .ag-row {
  font-size: 11px !important;
  color: #1e59a9 !important;
  font-weight: 500 !important;
}

.ag-ltr .ag-header-group-cell-label.ag-sticky-label {
  color: #1e59a9 !important;
  font-size: 13px !important;
  text-align: center !important;
}

[class^="ag-"],
[class^="ag-"]:focus,
[class^="ag-"]::after,
[class^="ag-"]::before {
  outline: none !important;
  border: none !important;
}

/* Root Wrapper and Header Adjustments */
.ag-root-wrapper {
  border-top: none !important;
  border-bottom: none !important;
  border-radius: 12px !important;
}

.ag-header.ag-header-allow-overflow .ag-header-row {
  width: 100% !important;
}

.ag-ltr .ag-header-cell-resize {
  right: -4px;
  padding: 47px 0px !important;
  top: -32px;
  width: 6px;
}

.ag-cell-label-container {
  padding-top: 0px !important;
}

.ag-header-row:not(.ag-header-row-column-group) {
  border-bottom: none !important;
}

/* Sorting Icons */
.ag-icon-asc,
.ag-icon-desc {
  color: #1e59a9 !important;
}

.sm_table .ag-header {
  height: 0px !important;
  min-height: 0px !important;
}

.sm_table .ag-column-first {
  font-weight: 700 !important;
}

.sm_table .ag-column-last {
  font-weight: 600 !important;
}

.ag-theme-quartz a {
  text-decoration: underline !important;
}
