#footer {
  background-color: #e2e7f2 !important;
  /* width: 100% !important; */
  /* position: absolute !important; */
  justify-content: space-between !important;
  display: flex !important;
  /* padding: 12px 25px !important; */
  position: relative !important;
  z-index: +999 !important;
}

#footer .footer_text {
  font-size: 11px !important;
  font-weight: 500 !important;
  /* color: #888 !important; */
}

@media (max-width:500px) {

  /* #footer {
    display: block !important;
    text-align: center !important;
  } */
  #footer .jst_sb {
    display: block !important;
  }
  #footer .jst_sb .al_left{
    text-align: center !important;
  }
  #footer .jst_sb .al_right{
    text-align: center !important;
    margin-top: 4px !important;
  }
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_text > a {
  margin-right: 8px; /* Adjust as needed */
}
