#header {
    min-height: 48px !important;
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

#header .logo {
    width: 145px !important;
}

.MuiAppBar-root {
    box-shadow: none !important;
}

#header .header_btn {
    font-size: 11px !important;
    font-weight: 500 !important;
    /* margin-left: 10px !important; */
    padding: 0px 10px !important;
    min-width: auto !important;

}

#header .header_btn:hover {
    background-color: transparent !important;
}

#header .header_menu {
    margin-left: auto !important;
}

#header .login_btn {
    margin: 0px 10px !important;
}

#header .login_btn {
    background-color: #22457b !important;
    color: #fff !important;
    padding: 3px 26px !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    margin-left: 10px !important;
    border: 2px solid #22457b !important;
}

#header .login_btn:hover {
    background-color: #fff !important;
    color: #22457b !important;
    border: 2px solid #22457b !important;
}

#header .avatar_name{
    font-size: 11px !important;
    font-weight: 500 !important;
}

#header .avatar_name a:hover{
   color: #00c1f3 !important;
}

.drawer .login_btn {
    display: none !important;
}

#header .avatar {
    width: 30px !important;
    height: 30px !important;
}

#header .MuiSvgIcon-root {
    width: 18px !important;
    height: 18px !important;
}

#header .menu_box {
    display: none !important;
}

.header_menu_mobile {
    display: grid !important;
    place-items: flex-start !important;
    margin-left: 24px !important;
}

.header_menu_mobile .MuiButtonBase-root {
    justify-content: flex-start !important;
    margin: 3px 0px !important;
}



.mobile_drawer {
    display: none !important;
}

#header .login_icon{
    display: none !important;
}


@media (max-width: 899px) {
    #header .logo {
        width: 100px !important;
    }

    #header .header_btn {
        font-size: 11px !important;
        font-weight: 500 !important;
        /* margin-left: 10px !important; */
        padding: 0px 10px !important;
        min-width: auto !important;
    }

    #header .header_btn {
        display: none !important;
    }

    #header .menu_box {
        display: inline !important;
        margin-left: 4px;
    }

    .mobile_drawer {
        display: initial !important;
    }

   
}

@media (max-width: 768px) {

    /* #header .header_btn {
        display: none !important;
    }

    #header .menu_box {
        display: inline !important;
        margin-left: 4px;
    }

    .mobile_drawer {
        display: initial !important;
        margin-left: 10px !important;
    } */
}

@media (max-width:450px) {
    #header .login_icon{
        display: inline-flex !important;
    }

    #header .login_btn{
        display: none !important;
    }
}

@media (max-width:370px) {

    #header .logo {
        width: 100px !important;
    }

    #header .login_btn {
        padding: 3px 18px !important;
    }

    #header .menu_box {
        display: inline !important;
        margin-left: 2px;
    }
}

/* #header .MuiIconButton-root {
    padding: 0px !important;
} */