.pagination_count_button {
    font-size: 11px !important;
    font-weight: 600 !important;
    padding: 2px 4px !important;
    color: #888 !important;
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer !important;
}


.pagination_button {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    margin: 0px 5px !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
}

.pagination_count_button {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    margin: 0px 2px !important;
}

.pagination_count_button.active {
    color: #fff !important;
    background-color: #0191ca !important;
}